{% extends "home.html" %}

{% block title %}
   Registration Page
{% endblock title %}

<!--{% block sidenav %}-->
<!--   <li>-->
<!--       <a href="/"> Home </a>-->
<!--   </li>-->
<!--{% endblock sidenav %}-->

{% block content %}
   <h1 class="my-4 text-center"> User Registration Form </h1>
      <form action="" method="post" >
          <table align="center">
              {{ form.as_table }}
              <tr>
                  <td>
                      <input class="btn btn-primary" type="submit" value="Create Account">
                  </td>
              </tr>
          </table>
          <input type="hidden" name="next" value="{{ next }}" />
          {% csrf_token %}
      </form>
{% endblock content %}