{% extends "home.html" %}
{% load static %}
<!--{% block title %}-->
<!--   Index-->
<!--{% endblock title %}-->



{% block content %}





    <div class="h1 text-center my-3">
        Books
    </div>


    <div class="d-flex flex-wrap justify-content-center">

        {% for book in books %}
            <div class="card m-3" style="width: 18rem;">
                <img src="{% static book.pic_path %}" class="card-img-top" alt="book cover" height="200">
                <div class="card-body">
                    <h5 class="card-title">{{ book.name }}</h5>
<!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <a href="book_detail/{{ book.id }}" class="btn btn-primary">book details</a>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock content %}