
{% extends "home.html" %}
{% load static %}



{% block content %}




    {% if submitted%}
        <meta http-equiv="refresh" content="0; URL=/displaybooks">
    {% endif %}
    <div class="h1 text-center my-3">
        Books
    </div>


    <div class="d-flex flex-wrap justify-content-center">

        {% for book in sorted_books %}


            <div class="card m-3 shadow" style="width: 18rem;">


                {% if user.is_authenticated %}
                    {% if book in favoriteBooks %}
                        <div class="position-relative">
                            <a href="displaybooks/remove/{{ book.id }}" class="position-absolute top-0 end-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from favorites" ><i class="fa-solid fa-bookmark fa-2xl" style="color: #ffdd00; width: 1.5em;"></i></a>
                            <img src="{% static book.pic_path %}" class="card-img-top" alt="book cover" height="200">
                        </div>

                      {% else %}
                            <div>
                                <a href="displaybooks/add/{{ book.id }}" class="position-absolute top-0 end-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to favorites" ><i class="fa-solid fa-bookmark fa-2xl" style="color: #f03405; width: 1.5em;"></i></a>
                                <img src="{% static book.pic_path %}" class="card-img-top" alt="book cover" height="200">
                            </div>
                        {% endif %}

                {% else %}
                    <img src="{% static book.pic_path %}" class="card-img-top" alt="book cover" height="200">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ book.name }}</h5>
                    <p class="card-text">Average rating: {{ book.avg_rating|floatformat:1 }}/5</p>
                    <a href="book_detail/{{ book.id }}" class="btn btn-primary">Book details</a>


                </div>
            </div>
        {% endfor %}

    </div>

{% endblock content %}