{% extends "home.html" %}
{% load static %}

{% block content %}
<h1 class="my-4 text-center">Favorites List</h1>
{% if books is None %}
  <h2>You haven't added any books to your favorites list</h2>
{% else %}
<div class="d-flex flex-wrap justify-content-center">
  {% for book in sorted_books %}
    <div class="card m-3" style="width: 18rem;">
      <img src="{% static book.pic_path %}" class="card-img-top" alt="book cover" height="200">
       <div class="card-body">
          <h5 class="card-title">{{ book.name }}</h5>
          <a href="book_detail/{{ book.id }}" class="btn btn-primary">book details</a>
          {% if book.username == user %}
            <a href="book_delete/{{ book.id }}" class="btn btn-danger"> Delete </a>
          {% endif %}
           <a href="displaybooks/remove/{{ book.id }}" class="btn btn-secondary">remove from favorites</a>
       </div>
    </div>
  {% endfor %}
</div>
{% endif%}
{% endblock content %}
