{% extends "home.html"%}

{% block content%}
    <div class="container-fluid mx-auto text-center">
        <h1 class="my-3">About us</h1>
        <h1> We are Group 1 </h1>
        <h2> Members: </h2>
        <ul>
            <li> <h3> Mike Allen De Pacina</h3> </li>
            <li> <h3> Ulises Gutierrez</h3> </li>
            <li> <h3> Roaf Htun</h3> </li>
            <li> <h3> James Hy </h3> </li>
            <li> <h3> Daniel Jimenez</h3> </li>
            <li> <h3> Luis Perez Campos </h3> </li>
            <li> <h3> Elizabeth Silvestre </h3> </li>
        </ul>
    </div>

{% endblock content %}