{% extends "home.html"%}

{% block content%}
    <div class="container-fluid mx-auto">

        <h1 class="text-center my-3">Welcome to Bookworm's World</h1>
        <h2 class="text-start m-5">About us</h2>
        <h4 class="text-start mx-5 my-3">The site where bookworms can post reviews of books and view fellow bookworms' reviews</h4>
        <h2 class="text-start mx-5 my-5">Meet the team</h2>
        <ul class="text-start">
            <li> <h3> Mike De Pacina</h3> </li>
            <li> <h3> Ulises Gutierrez</h3> </li>
            <li> <h3> Roaf Htun</h3> </li>
            <li> <h3> James Hy </h3> </li>
            <li> <h3> Daniel Jimenez</h3> </li>
            <li> <h3> Luis Perez Campos </h3> </li>
            <li> <h3> Elizabeth Silvestre </h3> </li>
        </ul>
    </div>

{% endblock content %}