{% extends "home.html"%}

{% block content%}
    <div class="container-fluid mx-auto">

        <h1 class="text-center my-3">Welcome to Bookworm's World</h1>
        <h2 class="text-start m-5">About us</h2>
        <h4 class="text-start display-6 mx-5 my-3">The site where bookworms can post reviews of books and view fellow bookworms' reviews</h4>

<!--        <ul class="text-start">-->
<!--            <li> <h3> Mike De Pacina</h3> </li>-->
<!--            <li> <h3> Ulises Gutierrez</h3> </li>-->
<!--            <li> <h3> Roaf Htun</h3> </li>-->
<!--            <li> <h3> James Hy </h3> </li>-->
<!--            <li> <h3> Daniel Jimenez</h3> </li>-->
<!--            <li> <h3> Luis Perez Campos </h3> </li>-->
<!--            <li> <h3> Elizabeth Silvestre </h3> </li>-->
<!--        </ul>-->
        <table class="table mt-4 m-4">
            <thead>
                <tr>
                    <td colspan="2" class="fw-bold">
                    Team Members
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="fw-medium">Mike De Pacina</td>
                    <td class="fw-medium">Ulises Gutierrez</td>
                </tr>

                <tr>
                    <td class="fw-medium">Roaf Htun</td>
                    <td class="fw-medium">James Hy</td>
                </tr>

                <tr>
                    <td class="fw-medium">Daniel Jimenez</td>
                    <td class="fw-medium">Luis Perez Campos</td>
                </tr>

                <tr>
                    <td class="fw-medium">Elizabeth Silvestre</td>
                </tr>
            </tbody>

        </table>
    </div>

{% endblock content %}